.signup{
    position: absolute;
    bottom: 84%;
    left: 37%;
    width: 100px;
    font-size: 21px;
    font-weight: bold;
    z-index: 1500;

}
.signup-id{
    width:200px;
    position: absolute;
    font-size: 13px;
    bottom: 298px;
    font-weight: bold;
    z-index: 1000;
    left: 63px;
}
.sginput-id{
    position: absolute;
    bottom:274px;
    left: 66px;
    z-index: 1000;
    width: 200px;
    border-style: hidden;
    font-size: 10px;
} 
.line-id{
    width:220px;
    z-index: 2000;
    position:absolute;
    left:66px;
    bottom: 266px;
  }  
.signup-email{
    width: 100px;
    bottom:233px;
    left: 63px;
    font-size: 13px;
    position: absolute;
    font-weight: bold;
}
.input-email{
    position: absolute;
    left:18%;
    z-index: 1400;
    bottom:53%;
    width: 200px;
    border-style: hidden;
    font-size: 10px;
}
.line-email{
    width:220px;
    z-index: 2000;
    position:absolute;
    left:66px;
    bottom: 205px;
  }  
.signup-password{
    width:200px;
    left: 63px;
    z-index: 1401;
    position: absolute;
    font-size: 13px;
    font-weight: bold;
    bottom:173px;
}
.input-password{
    width: 200px;
    position: absolute;
    bottom:156px;
    left:66px;
    border-style: hidden;
    font-size: 10px;
}
.line-pw{
    width:220px;
    z-index: 2000;
    position:absolute;
    left:66px;
    bottom: 151px;
  }  
.signup-checkpw{
    width: 200px;
    font-size: 13px;
    position: absolute;
    z-index: 1401;
    bottom: 120px;
    left:63px;
    font-weight: bold;
}
.input-checkpw{
    width: 200px;
    position: absolute;
    bottom:26%;
    left:66px;
    border-style: hidden;
    font-size: 10px;
}
.line-checkpw{
    width:220px;
    z-index: 2001;
    position:absolute;
    left:66px;
    /* bottom: 30%; */
    bottom: 25%;
  } 
.signup-button{
    position: absolute;
    bottom: 12%;
    left:35%;
    background-color: black;
    color: white;
    font-size: 10px;
    width: 100px;
    height: 30px;
    cursor: pointer;
}
.error-idmessage {
    color: red; /* 오류 메시지를 빨간색으로 표시 */
    position: absolute;
    bottom: 244px;
    font-size: 9px;
    left:70px;

  }
  .error-pwmessage {
    color: red; /* 오류 메시지를 빨간색으로 표시 */
    position: absolute;
    bottom: 130px;
    font-size: 9px;
    left:70px;
  }
  .error-emailmessage {
    color: red; /* 오류 메시지를 빨간색으로 표시 */
    position: absolute;
    bottom: 183px;
    font-size: 9px;
    left:70px;
  }
  .error-checkpwmessage {
    color: red; /* 오류 메시지를 빨간색으로 표시 */
    position: absolute;
    bottom: 79px;
    font-size: 9px;
    left:70px;
    z-index: 1400;
  }