
 .Backhome, .Backlogin {
    position: absolute; 
    padding: 10px 20px;
    font-size: 16px; 
  }

  .Backhome {
    bottom: 20%; 
    left:55%;
    background-color: black;
    color: white;
    cursor: pointer;
  }
  
  .Backlogin {
    bottom: 20%; 
    left:20%;
    background-color: gray;
    color: white;
    cursor: pointer;
  }
.checkmark{
    position: absolute;
    top: 100px;
    width: 100px;
  } 
  .success-ment{
    z-index: 1700;
    position: absolute;
    top:54%;
    font-size: 25px;
    font-weight: bold;
  }