header {
    position: fixed;
    z-index: 2000; /* 헤더가 다른 요소 위에 위치하도록 설정 */
}

.home-top{
    position: relative;
    bottom: 600px;
    width: 100%;
    height: 500px;
    z-index: 1400;
    top: 100px;


}
/* .new h2{
    position: absolute;
    left: 0;
    top:1000px;
} */
.new h2{
    height: 90px;
    font-family: 'Montserrat', sans-serif;
    font-size: 32px;
    font-weight: 600;
    letter-spacing: 2px;
    color: #000;
    line-height: 120%;
    z-index: 1500;
    position: absolute;
    margin-top: 10%;
    left: 180px;
}
/* .home-background{
    position: relative;
    width: 100%;
    height: 100%;
    z-index: -1; 
    object-fit: cover;
    overflow: hidden;
} */
 .new h2::after{
    content: "";
    display: block;
    width: 26px;
    height: 4px;
    margin: 10px 0 0;
    background: #c40f39;

}   
 .new p{
    font-size: 20px;
    color: #6e6e6e;
    top:740px;
    left: 180px;
    position: absolute;
    z-index: 1400;
 }
 .home-box2{
    width: 100%;            /* 박스 너비 */
    height: 952.2px;           /* 박스 높이 */
    background-color: whitesmoke;  /* 회색 배경 */
    top: 1600px;
    /* left: 900px; */
    position: absolute;
    z-index: 1500;
}
.pen-collect{
    display: flex;
    flex-wrap: wrap; /* 이미지가 부모 컨테이너의 너비를 초과하면 자동으로 줄바꿈 */
    justify-content: center; /* 가로 중앙 정렬 */
    align-items: center; /* 세로 중앙 정렬 */

}
.home-zpen{
    position:absolute;
    width: 392px;
    height: 205px;
    top:800px;
    left: 180px;
    z-index: 1500;
}
.home-pluspen{
    position:absolute;
    width: 392px;
    height: 292px;
    top:1030px;
    left: 180px;
    z-index: 1500;
}
.home-note{
    position:absolute;
    width: 786px;
    height: 360px;
    top:645px;
    left: 600px;
    z-index: 1500;
}
.home-153pen{
    position:absolute;
    width: 450px;
    height: 439px;
    top:1030px;
    left: 600px;
    z-index: 1500;
}
.home-pluspen2{
    position:absolute;
    width: 314px;
    height: 292px;
    top:1030px;
    left: 1070px;
    z-index: 1500;
}
.pen-collect img {
    max-width: 100%; /* 이미지의 최대 너비를 컨테이너 너비에 맞게 조정 */
    height: auto; /* 이미지 높이를 비율에 맞게 자동 조절 */
    object-fit: contain; /* 이미지가 비율을 유지하면서 컨테이너에 맞게 조절됨 */
}