header {
  position: fixed;
  z-index: 2000; /* 헤더가 다른 요소 위에 위치하도록 설정 */
}
a {
  text-decoration: none;
}
.home-top {
  position: relative;
  width: 100%;
  height: 500px;
  z-index: 10;
  top: 100px; /* 'bottom: 600px;'은 혼란을 줄 수 있어 제거함 */
  object-fit: cover;
}

.new {
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
  width: 70%;
  margin-top: 200px;
}
.new h2 {
  font-weight: 600;
}
.new h2::after {
  content: "";
  display: block;
  width: 26px;
  height: 4px;
  margin: 10px 0 0;
  background: #c40f39;
}
.new p {
  font-size: 13px;
  color: #6e6e6e;
}
/* 전체 섹션 스타일 */

/* 텍스트 섹션 스타일 */
.text-section {
  text-align: left;
  margin-bottom: 20px;
}

.text-section h1 {
  font-size: 2rem;
  margin: 0;
}

.text-section p {
  font-size: 1rem;
  color: gray;
  margin: 5px 0 0;
}

/* 제품 그리드 스타일 */

.newarrivalImgbox {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.newarrivalImgbox:first-child {
  align-items: flex-end;
}
.newarrivalImgbox:last-child {
  align-items: flex-start;
  margin-top: 24px;
}
.newarrival {
  position: relative;
}

.newarrival img {
  border-radius: 8px;
  object-fit: cover;
  display: block;
}

.image-container {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.image-container::after {
  content: attr(data-category) "\A"attr(data-product);
  font-family: "Pretendard-Light";
  white-space: pre;
  position: absolute;
  top: 5%;
  left: 2.5%;
  width: 95%;
  height: 90%;
  background-color: #c40f39;
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 10;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  color: white;
  text-align: center;
}

.image-container:hover::after {
  opacity: 1;
}

.image-container::before {
  content: "";
  position: absolute;
  top: 45%;
  left: 25%;
  width: 50%;
  height: 2px;

  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 11;
}

.image-container:hover::before {
  opacity: 1;
}

.l-popup__buttons {
  width: 216px;
  height: 216px;
  position: fixed;
  top: 180px;
  right: 15px;
  text-align: center;
  z-index: 10000;
  border-radius: 50%;
  background: #000;
  display: flex;
  flex-flow: column;
  align-items: center;
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 40px 35px;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
.l-popup__buttons > span:nth-child(2) {
  margin-top: 8px;
  font-size: 22px;
  color: #fff;
  letter-spacing: -0.055em;
  font-weight: 400;
}
.l-popup__buttons > span:nth-child(2) em {
  font-weight: bold;
  font-style: normal;
}
.l-popup__buttons .l-popup-btn-1 > span.btn_go {
  display: block;
  color: #fff;
  font-size: 15px;
  right: 20px;
  letter-spacing: -0.035em;
  font-weight: 600;
  position: relative;
  box-sizing: border-box;
  transition: all ease-in-out 0.3s;
  margin-top: 3px;
}
.l-popup__buttons .l-popup-btn-1 > span.btn_go::after {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  margin-top: 3px;
  background: url(/public/img/btn_go_arrrow.png) no-repeat 0 0;
  background-size: contain;
  position: absolute;
  left: 150%;
  top: 59%;
  transform: translateY(-50%);
}
.l-popup__buttons .l-popup-btn-2 > span.btn_inquiry::after {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  background: url(/public/img/btn_inquiry_icon.png) no-repeat 0 0;
  background-size: contain;
  position: absolute;
  left: 5px;
  top: 50%;
  transform: translateY(-50%);
}
.l-popup__buttons .l-popup-btn-2 {
  display: block;
  width: 100%;
  margin-top: 13px;
  text-align: left;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  padding-top: 10px;
}
.l-popup__buttons .l-popup-btn-2 > span.btn_inquiry {
  display: block;
  color: #fff;
  font-size: 15px;
  letter-spacing: -0.055em;
  font-weight: 300;
  position: relative;
  padding-left: 28px;
  transition: all ease-in-out 0.3s;
}
.l-popup__button--close {
  /*  */
  display: block;
  width: 22px;
  height: 22px;
  background: url(/public/img/l-popup__button_close.png) no-repeat;
  background-size: contain;
  text-indent: -9999px;
  position: absolute;
  top: 0;
  right: 0;
}

.tit {
  font-family: "Montserrat", sans-serif;
  font-size: 32px;
  font-weight: 600;
  letter-spacing: 2px;
  color: #000;
  line-height: 120%;
  text-align: center;
  margin-top: 30px;
}
.tit:after {
  content: "";
  display: block;
  width: 26px;
  height: 4px;
  margin: 10px auto;
  background: #c40f39;
  /* margin-left: 750px; */
}
.tit_btn {
  color: #555;
  font-family: "Pretendard-ExtraLight";
  font-size: 15px;
  font-weight: normal;
  text-align: center;
  font-weight: bold;
}
.tit .p_tabs ul li.on a {
  border: 2px solid #c40f39;
  color: red;
}
.home-box2 {
  margin-top: 100px;
  padding-top: 70px;
  background-color: #eee;
}
.p_tabs ul li a {
  display: block;
  width: 153px;
  height: 32px;
  text-align: center;
  line-height: 32px;
  font-size: 14px;
  color: #898989;
  border: 2px solid #bcbcbc;
  border-radius: 50px;
  transition: all ease-in-out 0.3s;
}
.p_tabs ul li :hover {
  color: #c40f39;
  border: 2px solid #c40f39;
  cursor: pointer;
}
.p_tabs ul {
  display: flex; /* flexbox 사용 */
  justify-content: center;
  list-style-type: none; /* 기본 목록 스타일 제거 */
}
.p_tabs {
  margin-top: 50px;
  position: relative;
  z-index: 1; /* 비디오보다 앞에 위치하도록 설정 */
  margin-bottom: 20px; /* 비디오와의 간격을 확보 */
}

.p_tabs ul li:last-child {
  margin-right: 0; /* 마지막 요소의 오른쪽 마진 제거 */
}
.p_lists {
  padding: 20px;
  padding-bottom: 140px;
  overflow-x: auto; /* 창 크기가 작아졌을 때 수평 스크롤 생성 */
}
.p_lists ul li .info .cate {
  margin: 33px 0 5px;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  color: #b3b3b3;
}
.p_lists ul li .info .name {
  font-family: "Montserrat";
  font-size: 15px;
  color: #000;
  font-weight: 600;
}
.conwrap {
  display: flex;
  justify-content: center;
}
.wrapper_ul {
  display: flex;
  justify-content: center;
  gap: 20px; /* 아이템 간 간격 */
  list-style-type: none; /* 기본 리스트 스타일 제거 */
  padding: 0;
  flex-wrap: nowrap; /* 아이템이 한 줄에 모두 나열되도록 고정 */
}

.wrapper_ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 266px; /* 아이템 고정 너비 */
  flex-shrink: 0; /* 창 크기가 줄어들어도 아이템 크기 줄어들지 않도록 설정 */
}

.wrapper_ul li img {
  margin-bottom: 10px;
  border-radius: 30px;
}

.video {
  position: relative;
  width: 100%;
  /* 비디오의 고정된 높이를 설정 */
  overflow: hidden; /* 비디오가 부모 영역을 벗어나지 않도록 */
}
.player {
  width: 100%;
  height: 100%;
  object-fit: cover; /* 비디오가 부모 요소에 맞게 채워지도록 설정 */
  z-index: 0; /* 비디오가 다른 요소보다 뒤에 있도록 설정 */
}
.bbs .news {
  float: left;
  width: 650px;
  height: 310px;
  padding-right: 49px;
  border-right: 1px solid whitesmoke;
}
.bbs .news .tit h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 600;
  color: #000;
  line-height: 120%;
  text-align: left;
  margin-left: 40px;
}
.bbs .news .tit a {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 11px;
  color: #3d3e38;
  letter-spacing: 1px;
  border-bottom: 1px solid #3d3e38;
}
.bbs .inquiry {
  float: left;
  width: 349px;
  height: 355px;
  /* background: url(public\img\inquiry_tit_bg.png) no-repeat; */
  border-right: 1px solid #ddd;
  text-align: center;
}
.bbs .inquiry p {
  color: #6a6a6a;
  line-height: 160%;
  margin-bottom: 45px;
  cursor: pointer;
}
.bbs .inquiry .tit h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 600;
  color: #000;
  line-height: 120%;
}
.bbs .inquiry a {
  display: block;
  width: 167px;
  height: 35px;
  margin: 0 auto;
  text-align: center;
  line-height: 35px;
  font-family: "Montserrat", sans-serif;
  color: #c40f39;
  font-weight: 500;
  border: 2px solid #c40f39;
  transition: all 0.6s;
  border-radius: 50px;
}
.bbs .shop .tit h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 600;
  color: #000;
  line-height: 120%;
}
.bbs .shop p {
  color: #6a6a6a;
  line-height: 160%;
  margin-bottom: 45px;
}
.bbs .shop a {
  display: block;
  width: 167px;
  height: 35px;
  margin: 0 auto;
  text-align: center;
  line-height: 35px;
  font-family: "Montserrat", sans-serif;
  color: #c40f39;
  font-weight: 500;
  border: 2px solid #c40f39;
  transition: all 0.6s;
  border-radius: 50px;
  cursor: pointer;
}
.bbs .shop {
  float: left;
  width: 349px;
  height: 355px;
  border-right: 1px solid #ddd;
  text-align: center;
}
.danwhapen {
  width: 164px;
  height: 116px;
}
/* .sbj{
    overflow: hidden;
     width: 500px;
     text-overflow: ellipsis;
     white-space: nowrap;
     word-wrap: normal;
} */
.bbs .news .news_lists li.first {
  overflow: hidden;
  border-bottom: 1px solid #bbb;
  padding: 10px 0 20px;
  margin-bottom: 15px;
}

.bbs .news ul li .txt {
  display: flex;
  gap: 20px;
}
.bbs .news .news_lists li.first .txt p {
  font-size: 15px;
  color: #555;
  margin-bottom: 15px;
  word-break: keep-all;
}
.bbs .news .news_lists li.first .txt .sbj {
  font-size: 21px;
  color: #000;
  margin-bottom: 5px;
}
.bbs .news .news_lists li .date {
  position: absolute;
  right: 20;
  top: 20;
  color: #888;
  /* font-size: 40px; */
}
.visual {
  position: relative; /* 부모 요소에 relative를 추가 */
  z-index: 1500; /* home-top보다 큰 값으로 설정 */
}

.visual .textarea {
  position: absolute;
  left: 50%;
  top: 0;
  width: 1400px;
  height: 100%;
  margin-left: -700px;
  z-index: 1600; /* home-top의 z-index보다 크게 설정 */
}

.visual .textarea h3 {
  position: absolute;
  bottom: 40px;
  font-size: 50px;
  color: white;
  line-height: 120%;
  font-weight: 100;
  margin: 0 0 0 100px;
  z-index: 1700; /* h3 요소도 이미지보다 높은 z-index를 가짐 */
  font-family: "Noto Sans KR";
}
.visual .textarea h3:before {
  display: block;
  content: "";
  width: 80px;
  height: 1px;
  background: #fff;
  margin: 157px 0 10px 0;
}
.visual .textarea p {
  color: white;
  margin-left: 120px;
  font-family: "Noto Sans KR" f;
}
