@font-face {
    font-family: "Pretendard-ExtraLight";
    src: url("../../fonts/Pretendard-ExtraLight.otf") format("woff");
  }
  @font-face {
    font-family: "Pretendard-Light";
    src: url("../../fonts/Pretendard-Light.otf") format("woff");
  }
  @font-face {
    font-family: "Pretendard-Regular";
    src: url("../../fonts/Pretendard-Regular.otf") format("woff");
  }
  
  .ProductPage {
    position: relative;
    width: 100%;
  }
  .ProductTop {
    display: flex;
    width: 100%;
    height: 342px;
    text-align: center;
    background-image: url("/public/img/ProductImg.jpg");
    background-repeat: no-repeat;
    background-position: 50%;
    flex-direction: column;
    padding-top: 100px;
  }
  
  .ProductTop h2 {
    color: white;
    font-family: "Pretendard-Light";
    font-size: 34px;
    padding-top: 120px;
    margin: 0px;
  }
  
  .ProductTop h2::after {
    display: block;
    content: "";
    width: 30px;
    height: 4px;
    margin: 5px auto 10px;
    background: #c40f39;
  }
  
  .ProductTop p {
    color: white;
    font-family: "Pretendard-ExtraLight";
    margin: 0px;
  }
  .BtnBox {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 400px;
  }
  
  .CategoryBtn {
  text-align: center;
  }

  .CategoryBtn button {
    text-align: center;
    height: 32px;
    line-height: 32px;
    font-weight: 500;
    font-size: 15px;
    color: #777;
    border: none;
    border-bottom: 2px solid #dcdcdc;
    background-color: white;
    width: 130px;
    margin: 0 7px;
  }
  .ProductWrap {
    margin: auto;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    max-width: 1400px;
    margin: 45px auto 0;
    gap: 10px;
  }

  .ProductBox {
    width: 19%;
    border: 1px solid #ddd;
  }

  .ProductBox img{
   width: 100%;
  }

  .ProductInfo{
    height: auto;
    padding: 30px;
  }
  .ProductCategory{
    margin: 0px 0 5px;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    color: #b3b3b3;
  }

  .ProductName {
    font-family: 'Pretendard-Regular';
    font-weight: 600;
    font-size: 15px;
    color: #000;
    font-weight: 600;
  }