div {
  white-space: pre-line;
}

.ProductView {
  width: 100%;
  overflow: hidden;
}

.Conwrap {
  position: relative;
  width: 1390px;
  margin: 0 auto;
}

.ProductView .ProductInfo {
  position: relative;
  border-left: 1px solid #ddd;
  padding: 0 0 0 9px;
  height: 850px;
}

/* 배경 */
.ProductView .ProductInfo .BgArea {
  position: absolute;
  left: -50%;
  top: 150px;
  z-index: -1;
  width: 1000%;
  height: 1000%;
  background: #f8f8f8;
}

/* 제일 큰 이미지 */
.ProductView .ProductInfo .PImg {
  float: left;
  overflow: hidden;
  width: 447px;
  height: 656px;
  border: 1px solid #ddd;
}

/* 이미지 왼쪽 넘버링 */
.ProductView .ProductInfo .Numbering {
  font-family: "Montserrat";
  font-size: 14px;
  color: #000;
  position: absolute;
  left: -65px;
  top: 20px;
  transform: rotateZ(-90deg);
}

/* n번째 이미지 넘버링 */
.ProductView .ProductInfo .Numbering span:nth-child(1) {
  font-family: "Montserrat";
  font-size: 25px;
  color: #000;
  font-weight: 500;
}

/* 작은 이미지들 */
.PImgList {
  position: absolute;
  width: 449px;
  margin-top: 10px;
  overflow: hidden;
}
.PImgWrap {
  overflow: hidden;
  width: 333px;
  height: 108px;
  margin: 0 auto;
}
.PImgWrap ul {
  display: flex;
  /* 부드러운 슬라이드 효과 */
  transition: transform 0.3s ease;
  margin: 0;
  padding: 0;
}
.PImgList li {
  float: left;
  width: 71px;
  height: 106px;
  margin-right: 13px;
  border: 1px solid #ddd;
}
.PImgList li img {
  float: left;
  width: 71px;
  height: 106px;
  margin-right: 13px;

  cursor: pointer;
}

/* 이미지 왼쪽 버튼 */
.PImgList .TPrev {
  position: absolute;
  left: 0;
  top: 0;
  cursor: pointer;
}
/* 이미지 오른쪽 버튼 */
.PImgList .TNext {
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
}
.ProductDetails {
  float: right;
  width: 871px;
}
/* 배경 기준 위쪽 */
.ProductDetails .PTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* 제품이름 & 카테고리 */
.ProductDetails .PTitle {
  margin: 40px 0 25px;
  font-family: "Pretendard-Light";
}

/* 제품 가격 */
.ProductDetails .PPrice {
  font-size: 26px;
  font-family: "Pretendard-Light";
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

/* 위시 & 장바구니 버튼 */
.ProductDetails .PPrice button {
  width: 50px;
  height: 50px;
  font-size: 14px;
  border: none;
  font-family: "Pretendard-Light";
  cursor: pointer;

}
.ProductDetails .PPrice .WishBtn {
color: #c40f39;
margin-right: 5px;
}

.ProductDetails .PPrice .CartBtn {
  background-color: #c40f39;
  color: #fff;
}
.ProductDetails .PPrice img {
  width: 25px;
}

/* 제품이름 */

.ProductDetails .PName {
  font-size: 32px;
  color: #333;
}

.ProductDetails .PName::after {
  content: "";
  display: block;
  width: 30px;
  height: 3px;
  margin: 10px 0;
  background: #c40f39;
}
/* 제품 카테고리 */

.ProductDetails .PCate {
  font-size: 19px;
  color: #666;
}

/* 제품 정보칸 */
.ProductDetails .PInfoList {
  position: relative;
  padding-top: 25px;
}

.ProductDetails .PInfoList::before {
  content: "";
  display: block;
  width: 10000px;
  height: 1px;
  background: #ddd;
  position: absolute;
  left: -61px;
  top: 0;
}

.ProductDetails .PInfoList > div {
  margin-bottom: 25px;
}

/* 제품 상세 정보 타이틀 */
.ProductDetails .PInfoList .tit {
  padding-left: 13px;
  background: url(/public/img/ListDot2.gif) no-repeat left 8px;
  font-family: "Pretendard-ExtraLight";
  font-size: 17px;
  color: #c40f39;
  font-weight: 500;
  margin-bottom: 7px;
  text-align: left;
}

.ProductDetails .PInfoList .tit::after {
  display: none;
}
.ProductDetails .PInfoList .KeyFeatures {
  font-size: 15px;
  color: #777;
  line-height: 180%;
  font-family: "Pretendard-ExtraLight";
}

.ProductDetails .PInfoList .InkColor ul {
  overflow: hidden;
  margin: 0;
  padding: 0;
  margin-top: 10px;
}

.ProductDetails .PInfoList .InkColor ul li {
  float: left;
  width: 43px;
  height: 42px;
  margin: 0 3px 3px 0;
}

.ProductDetails .PInfoList .BodyColor ul {
  overflow: hidden;
  margin: 0;
  padding: 0;
  margin-top: 10px;
}

.ProductDetails .PInfoList .BodyColor ul li {
  float: left;
  width: 43px;
  height: 42px;
  margin: 0 3px 3px 0;
}

.ProductDetails .PInfoList .NibType ul {
  overflow: hidden;
  margin: 0;
  padding: 0;
  margin-top: 10px;
}
.ProductDetails .PInfoList .NibType ul li {
  float: left;
  width: 43px;
  height: 42px;
  margin: 0 3px 3px 0;
}

/* 다시 제품 목록으로 */
.ViewBtn {
  text-align: center;
  max-width: 1400px;
  width: 100%;
  margin: 17px 0 150px 0;
}

.ViewBtn a {
  display: inline-block;
  width: 143px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  font-family: "Montserrat";
  font-size: 15px;
  color: #fff;
  background: #c40f39;
  text-decoration: none;
}
