.PayStepWrap {
width: 400px;
text-align: center;
float: right;
}

.PayStepWrap button {
  border: none;
  background-color: #fff;
  font-size: 24px;
  font-family: "Pretendard-Light";
  
  margin-right: 5px;
  cursor: pointer;
}

.PayStepWrap .CurrentStep {
    font-weight: 600;
}

.PayStepWrap .OtherStep {
    color: #c4c4c4;
}

.PayStepWrap .StepDivider {
    color: #c4c4c4;
    font-size: 24px;
    font-family: "Pretendard-ExtraLight";
    margin-right: 5px;
}
