.ModalContainer {
  z-index: 100;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
}

.ModalContent {
  font-family: "Pretendard-ExtraLight";
  background-color: #fff;
  width: 250px;
  height: 150px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 18px;
  margin-top: 50px;
  justify-content: space-around;
}

.ModalCloseBtn {
  cursor: pointer;
  width: 70px;
  height: 30px;
  background-color: #c40f39;
  border: none;
  color: #fff;
}

.ModalImg {
  width: 70px;
}
